<div class="logo">
    <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png" />

        </div>
        T.P.S
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <form class="navbar-form">
            <span class="bmd-form-group">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </span>
        </form>
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">dashboard</i>
                    <p>
                        <span class="d-lg-none d-md-block">Stats</span>
                    </p>
                </a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">notifications</i>
                    <span class="notification">5</span>
                    <p>
                        <span class="d-lg-none d-md-block">Some Actions</span>
                    </p>
                </a> -->
            <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                    <a class="dropdown-item" href="#">Another Notification</a>
                    <a class="dropdown-item" href="#">Another One</a>
                </div> -->
            <!-- </li> -->
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">person</i>
                    <p>
                        <span class="d-lg-none d-md-block">Account</span>
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <ul class="nav">
        <!-- <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li> -->
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/studentregistration']">
                <i class="material-icons"></i>
                <p>Student Registration</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/add-requirement']">
                <i class="material-icons"></i>
                <p>Add Requirement</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/view-requirement']">
                <i class="material-icons"></i>
                <p>View Requirement</p>
            </a>
        </li>
        <!-- <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/test']">
                <i class="material-icons"></i>
                <p>test</p>
            </a>
        </li> -->

        <li class="dropdown nav-item" routerLinkActive="active" class="nav-item">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">Manage Company
            </a>
            <div class="dropdown-menu">
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/companylistpending']" class="dropdown-item">
                <p>Company List Pending</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/approvedcompany']" class="dropdown-item">
                <p>Approved Company</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/companyrequirementlist']" class="dropdown-item">
                <p>Request List</p>
            </a>
        </li>
</div>
</li>
<li class="dropdown nav-item" routerLinkActive="active" class="nav-item">
    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">Manage T.P.O.
    </a>
    <div class="dropdown-menu">
<li routerLinkActive="active" class="nav-item">
    <a class="nav-link" [routerLink]="['/tpolistpending']" class="dropdown-item">
        <p>T.P.O List Pending</p>
    </a>
</li>
<li routerLinkActive="active" class="nav-item">
    <a class="nav-link" [routerLink]="['/approvedtpo']" class="dropdown-item">
        <p>Approved T.P.O</p>
    </a>
</li>
<li routerLinkActive="active" class="nav-item">
    <a class="nav-link" [routerLink]="['/sub-tpo-registration']" class="dropdown-item">
        <p>Sub-TPO Registration</p>
    </a>
</li>
</div>
</li>

<li class="dropdown nav-item" routerLinkActive="active" class="nav-item">
    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">Exam Management</a>
    <div class="dropdown-menu">
<li routerLinkActive="active" class="nav-item">
    <a class="nav-link" [routerLink]="['/create-exam']" class="dropdown-item">
        <p>Create New Exam</p>
    </a>
</li>
<li routerLinkActive="active" class="nav-item">
    <a class="nav-link" [routerLink]="['/add-questions']" class="dropdown-item">
        <p>Add Questions</p>
    </a>
</li>
</div>
</li>

<li routerLinkActive="active" class="nav-item">
    <a class="nav-link" [routerLink]="['/add-student']">
        <i class="material-icons">person</i>
        <p>Add Student</p>
    </a>
</li>
<li routerLinkActive="active" class="nav-item">
    <a class="nav-link" [routerLink]="['/email-conversation']">
        <i class="material-icons">email</i>
        <p>Email</p>
    </a>
</li>
</ul>
</div>
